@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* point1: transform 위치 이동 */
/* point2: rgba 마지막 인자값: 투명도 */
/* point3: backdrop-filter: blur(..px) - 배경blur처리 */
/* point4: border-spacing: ; */
/* point5: dycaldendar lib css customize */
.box {
  position: rlative;
  z-index: 1000;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  /* point2: rgba 마지막 인자값: 투명도 */
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  /* point3: backdrop-filter: blur(..px) - 배경blur처리 */
  border-radius: 10px;
}

#dycalendar{
  width: 100%;
  padding: 5px;
}

#dycalendar table{
  width: 100%;
  /* mobile target */
  margin-top: 40px;
  border-spacing: 5px;
  /* point4: border-spacing: ;
  - 가로로 늘여져 있는 table tr td 요소들 사이 border가 띄워져 있다.
  - td selectotr에 border-spacing적용 안된다
    (#dycalendar table tr:nth-child(1) td)*/

}

#dycalendar table tr:nth-child(1) td{
  /* border-spacing: 10px; */
}

#dycalendar table tr:nth-child(1) td{
  background: #fff;
  color: #111;
  border-radius: 4px;
  font-weight: 600;
}
#dycalendar table tr td{
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

#dycalendar table.enableHover tr td:hover{
  background: #fff;
  color: #111 !important;
}

/* point5: dycaldendar lib css customize
  - 변경하고 싶은 요소를 선택해서 styles에 css selector를 가지고 와서 변경 */
.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
  background: #fff !important;
  color: #111 !important
}

.dycalendar-month-container
.dycalendar-header
.dycalendar-prev-next-btn.prev-btn{
  background: #fff;
  color: #111;
  width: 44px;
  height: 38px;
  position: absolute;
  left: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.dycalendar-month-container
.dycalendar-header
.dycalendar-prev-next-btn.next-btn{
  background: #fff;
  color: #111;
  width: 44px;
  height: 38px;
  position: absolute;
  right: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container .dycalendar-span-month-year{
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.dycalendar-body table{
  border-collapse: initial;
}

@media (max-width: 768px) {
  .dycalendar-month-container .dycalendar-span-month-year{
    font-size: 1rem;
  }
  #dycalendar{
    /* width: 50%; */
  }
  #dycalendar table{
    margin-top: 0;
  }
  .dycalendar-body{
    /* width: 50%; */
  }
  .dycalendar-month-container{
    padding: 0px;
  }
  .dycalendar-body table td {
    /* display: block; */
    /* display: inline; */
    padding: 3px;
    margin-right: 2px;
    width: 20px
  }
  #dycalendar table tr td{
    padding: 0px
  }
  .dycalendar-month-container div{
    margin-bottom: 0px;
  }

.dycalendar-prev-next-btn{

  }
  .dycalendar-month-container
  .dycalendar-header
  .dycalendar-prev-next-btn.prev-btn{
    height: 20px;
    width: 20px;
    top: 6px;
    left: 5px;
  }
  .dycalendar-month-container
  .dycalendar-header
  .dycalendar-prev-next-btn.next-btn{
    height: 20px;
    width: 20px;
    top: 6px;
    right: 5px;
  }
}