body {
  margin: 0;
  font-family: 'Roboto' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 768px){
  .ant-page-header-heading-extra{
    float: right;
    clear: initial;
    width: initial;
    padding: 0;
  }
}

.FilterOutlinedContainer>button.ant-btn{
  border:initial;
  padding: 4px 12px;
}