.tdItemContainer {
  display: flex;
  justify-content: space-between;
  /* display: table;
  overflow: hidden; */
}

.dateCnt{
  /* display: table-cell; */
  min-width: 85px;
  vertical-align: middle;
  font-size: 1.15rem;
  font-weight: bold;
  padding-left: 10px;
}

.spanDateCnt{
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.spanDateCnt:hover{
  color: #d485d9
}

.title {
  /* display: table-cell; */
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.link_detail_title {
  color: #0a222e;
}

.author {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  width: 100%;
}

.link_detail_author {
  color: #28546a;
}

.dateTime {
  color: #999999;
  /* display: table-cell; */
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  min-width: 100px;
}
.created {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.tooltips {
  color: #999999;
  /* display: table-cell; */
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  min-width: 64px;
  position: absolute;
  right: 7px;
}

.link_url {
  font-size: 12px;
}

.button_url {
  margin-right: 5px;
}

.button_edit {
  margin-right: 5px;
}

.lastCell{
  position: relative;
}


@media (max-width: 768px){
  .title,
  .dateCnt{
    padding-left: 5px;
  }
}